<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hashicode.simpletodo">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TaskActivity"
            android:label="@string/task.create"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:theme="@style/SettingsTheme"
            android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity">
        </activity>


        <service
            android:name=".service.CompleteTaskIntentService"
            android:exported="false"/>

        <service
            android:name=".service.TaskNotificationIntentService"
            android:exported="false"/>

        <service
            android:name=".service.TaskNotificationClearIntentService"
            android:exported="false"/>

        <service
            android:name=".service.MainActivityIntentService"
            android:exported="false"/>

        <service
            android:name=".service.TaskBootStartupIntentService"
            android:exported="false"/>

        <provider
            android:name=".service.TaskContentProvider"
            android:authorities="com.hashicode.simpletodo" >
        </provider>

        <receiver android:name=".service.TaskBootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
